h4.MuiTypography-root{
    color: #502c6d;
    font-size: 1rem;
    text-transform: uppercase;
}
.MuiDialog-paper .MuiDialogContent-root .MuiButton-textSecondary.MuiButton-root{
    color: #000 !important;

}
.css-1dc80h3-MuiTableCell-root .MuiButton-colorSecondary{
    background: #502c6c !important;
}
form.addquestion {
    text-align: left;
    grid-template-columns: 90em;
    justify-content: center;
    padding: 3.5em 3em;
    border: 1px solid #b6b6b6;
    display: grid;
    margin: 3em;
    border: 1px solid hsl(215, 15%, 92%);
}
form.addquestion label{
    color: #000;
}
.quesbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #000 !important;
    color: #000;

}
button.quesbtn:hover{
box-shadow:0 1px 10px #c2c2c2ba;
background-color: #fff;
border-color: #000 !important;
color: #000;
}
form.addquestion  select{
    color: #a2a2a2;
    padding: 5px;
    margin-top: 5px;
    border: 1px ridge;
    height: 30px;
    border-radius: 4px;
}
th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1orzuox-MuiTableCell-root {
    font-size: 15px;
    background: #dcdcdc;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textSecondary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorSecondary.MuiButton-root.MuiButton-text.MuiButton-textSecondary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorSecondary.css-if69c8-MuiButtonBase-root-MuiButton-root {
color:#000
}
th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1orzuox-MuiTableCell-root {
    background: #dcdcdc;
    font-size: 15px;
}