.thank-you-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #2c3e50; /* Neutral dark blue background */
    color: #6a4a8f; /* Lighter shade of #502c6c for a softer look */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .thank-you-page h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
  
  .thank-you-page p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #bdc3c7; /* Lighter gray for the paragraph text */
  }
  
  .btn {
    color: #fff;
    cursor: pointer;
    background-color: #2b8000;
    border: 2px solid #2b8000;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 1rem;
    transition: background-color .3s, border .3s;
}
  
  .exitbtn.btn:hover {
    background-color: #388e3c; /* Darker green on hover */
    border-color: #388e3c !important; /* Even darker green border on hover */
  }
  
  @media (max-width: 768px) {
    .thank-you-page h1 {
      font-size: 2rem;
    }
  
    .thank-you-page p {
      font-size: 1rem;
    }
  
    .btn {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }
  